# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [1]:
numbers = [12, 75, 150, 180, 145, 525, 50]
max=numbers[0]
for i in numbers:
  if i>max:
    max=i
print(max)

525

Q2. Print all the even number between (1, 12).

In [9]:
for k in range(2,12,2):
  print(k)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [11]:
num=int(input("Enter the number till which you need the sum "))
sum=num*(num+1)//2
sum

Enter the number till which you need the sum 23

276

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [15]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
for k in numbers:
  if k>500:
    break
  if k%5 !=0 or k>150:
    continue
  print(k)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [14]:
list1 = [10, 20, 30, 40, 50]
for i in reversed(list1):
  print(i)

50
40
30
20
10